.admin-group-box
    .search
        .serach-input,.date-input
            width 270px
            margin-right 30px
        .date-input
            width 276px
        .search-btn
            background-image url("../../../../../../static/customer/icon-search.svg")