.admin-data-health
    .statistics-mod
        position relative
        .title
            .right
                font-size 14px
                color #999
        .chart-con
            height 435px
        .none-tips,.count-num
            position absolute
            font-size 14px
        .none-tips
            left 50%
            top 50%
            color #999
            margin -25px 0 0 -50px
        .count-num
            right 95px
            top 70px
            color #333