.admin-order-layout
    padding 0 20px
    width 950px
    .order-tj
        width 840px
        margin 50px auto 0
        position relative
        left 95px
        overflow hidden
        .item
            float left
            padding-left 50px
            width 225px
            background-repeat no-repeat
            background-position 0 0
            font-size 12px
            color #999
            b
                font-size 18px
                color #20A0FF
                line-height 25px
                font-weight normal
        .item1
            background-image url("../../../../../../static/admin/icon_order_information_order.svg")
        .item2
            background-image url("../../../../../../static/admin/icon_order_information_cost.svg")
        .item3
            background-image url("../../../../../../static/admin/icon_order_information_profit.svg")
        .item4
            background-image url("../../../../../../static/admin/icon_order_information_balance.svg")
    .search
        margin 70px 0 20px
    .serach-input,.date-input,.search-select
        vertical-align top
        margin-right 30px
    .serach-input
        width 180px
    .date-input
        width 240px
    .search-select
        width 194px
    .search-btn
        display inline-block
        width 36px
        height 36px
        cursor pointer
        background #20A0FF url("../../../../../../static/customer/icon-search.svg") no-repeat center
        border-radius 4px