.admin-user-box
    .add-group-dialog
        background rgba(0,0,0,.5)
        .el-dialog
            width 520px
            border-radius 5px
            .el-dialog__header
                height 50px
                padding 0
                margin 0 20px
                position relative
                border-bottom 1px solid #E7E7E7
                .el-dialog__title
                    line-height 50px
                    font-size 18px
                    color #0D0D0D
                    font-weight normal
                .el-dialog__headerbtn
                    position absolute
                    right 0
                    top 20px
            .check-list
                position relative
            .el-dialog__body
                padding 0
                .el-checkbox-group
                    overflow hidden
                    padding-left 70px
                .el-checkbox
                    float left
                    margin 30px 0 0 0
                    width 215px
                .tips
                    font-size 14px
                    color #A5A5A5
                    text-align center
                    margin 30px 0
                    font-weight normal
                .tips2
                    font-size 18px
                    color #000
                    margin 40px 0 10px
                .tips3
                    color #000
                    margin 0 0 40px
                    a
                        color #16B0FF
            .dialog-footer2
                text-align center
                padding 20px 0
                margin 0 20px
                border-top 1px solid #E7E7E7
                .el-button
                    width 88px
                .el-button+.el-button
                    margin-left 30px