.admin-user-box
    .el-table td .cell
        cursor pointer
        .icon
            padding-left 35px
            background-repeat no-repeat
            background-position 0 center
        .has-icon
            background-image url("../../../../../../static/admin/icon_user_list_wechat.svg")
    .el-table .el-table-column--selection .cell
        cursor default
.download-dialog
    .el-dialog
        width 520px
        border-radius 5px
        .el-dialog__header
            height 50px
            padding 0
            margin 0 20px
            position relative
            border-bottom 1px solid #E7E7E7
            .el-dialog__title
                line-height 50px
                font-size 18px
                color #0D0D0D
                font-weight normal
            .el-dialog__headerbtn
                position absolute
                right 0
                top 20px
        .tips
            margin 30px 0
            text-align center
        .choose-con
            padding-left 140px
            .bottom
                margin 30px 0 20px
            .el-checkbox
                margin-right 30px
            .el-checkbox__label, .el-radio__label
                padding-left 10px
        .el-dialog__body
            padding 0
    .dialog-footer2
        text-align center
        padding 20px 0
        margin 0 20px
        border-top 1px solid #E7E7E7
        .el-button
            width 88px
        .el-button+.el-button
            margin-left 30px
.allocation-dialog
    .el-dialog
        width 700px
        border-radius 5px
        .el-dialog__header
            height 50px
            padding 0
            margin 0 20px
            position relative
            border-bottom 1px solid #E7E7E7
            .el-dialog__title
                line-height 50px
                font-size 18px
                color #0D0D0D
                font-weight normal
            .el-dialog__headerbtn
                position absolute
                right 0
                top 20px
    .dialog-footer2
        text-align center
        padding 20px 0
        margin 0 20px
        border-top 1px solid #E7E7E7
        .el-button
            width 88px
        .el-button+.el-button
            margin-left 30px