.chart_steps_list
  position relative
  .chart_list_page
    text-align right
    margin-top 20px
  .measureServer.right
    .hint_search_left
      font-size 14px
      color #A5A5A5
      line-height 36px
      margin-right 10px
