.admin-list
    .el-table .cell
        font-size 13px
        font-weight normal
        padding-right 0
        color #000
    .el-table th>.cell
        font-size 14px
        color #666
        font-weight bold
    .row-click
        cursor pointer
        margin-right 10px
        color #20A0FF
    .create-btn
        padding 7px 15px
        border-color #A5A5A5
    .group-icon
        position relative
        &:before
            font-family element-icons!important
            content "\E607"
            position absolute
            right 10px
            top 50%
            font-size 12px
            margin-top -12px
            color #D3DCE6
            transform rotate(180deg)
.admin-list2
    .el-table .cell
        cursor pointer