.admin-user-box
    .el-table td .cell
        cursor pointer
        .icon
            padding-left 35px
            background-repeat no-repeat
            background-position 0 center
        .has-icon
            background-image url("../../../../../../static/admin/icon_user_list_wechat.svg")
    .el-table .el-table-column--selection .cell
        cursor default