.weight-chart-dialog
    .el-dialog
        width 950px
        border-radius 5px
        .el-dialog__body
            padding 0 0 30px
            .title
                font-size 18px
                color #000
                padding-bottom 20px
                border-bottom 1px solid #E7E7E7
                margin 0 20px 30px
                font-weight normal
                span
                    padding-left 20px
.add-weight-dialog
    .el-dialog
        width 400px
        .el-dialog__title
            font-size 18px
            color #000
        .el-dialog__close
            font-size 14px
            color #A5A5A5
        .el-dialog__body
            border-top 1px solid #E7E7E7
            margin 15px 20px 0
            padding 0
        .el-form-item
            margin-top 30px
            color #000
            .el-form-item__label
                padding-right 15px
                text-align right
                color #000
            .el-from-input,.el-form-time
                width 180px
        .el-form-item.is-required
            .el-form-item__label:before
                display none
        .dialog-footer2
            margin 30px 0 0
            padding 20px
            border-top 1px solid #E7E7E7
            text-align center
            .el-button
                width 88px
            .el-button+.el-button
                margin-left 30px
        .tips
            position absolute
            right 60px
            bottom 0
.weight-table
    .el-table__body
        tr
            cursor pointer