.admin-list
    .admin-title
        h2,.time
            float left
        .time
            font-size 14px
            color #A5A5A5
            margin-left 30px
            line-height 50px
        .tool
            .el-button
                line-height 30px
                padding 0 15px
    .admin-tool
        padding 22px 0
        .el-button+.el-button
            margin-left 30px
        .el-button
            line-height 36px
            padding 0 0
            width 100px
