.join-group-dialog
    .el-dialog
        width 900px
        border-radius 10px
        .el-dialog__header
            padding 0
            margin 0 20px
            height 50px
            line-height 50px
            border-bottom 1px solid #E7E7E7
            position relative
            span
                color #000
                font-size 18px
                font-weight normal
            .el-dialog__headerbtn
                position absolute
                right 0
                top 0
        .el-dialog__body
            padding 0 20px
            .search
                padding 20px 0
                .serach-input
                    width 120px
                    margin-right 30px
                .age-input
                    width 60px
                .age-input2
                    margin-right 30px
                .age-label
                    display inline-block
                    width 30px
                    line-height 35px
                    text-align center
                .search-select
                    width 120px
                    margin-right 30px
                .search-select2
                    width 155px
                .search-select3
                    width 124px
                .search-btn
                    background-image url('../../../../../../../static/customer/icon-search.svg')
        .dialog-footer2
            text-align center
            padding-bottom 20px
            .el-button+.el-button
                margin-left 30px