.pdf-download-layout
    background #FFF
    width 1190px
    margin 0 auto
    border 1px solid #CCC
    .title
        line-height 60px
        padding 0 120px
        color #FFF
        font-size 24px
        background #20A0FF
        font-weight normal
        overflow hidden
        .left
            float left
        .right
            float right
    .chart-con
        width 940px
        margin 0 auto 0
        height 460px
        position relative
    .pdf-tab
        width 910px
        margin 40px auto 0
    .pdf-tab2
        position relative
        top -10px
        margin-top 0
    .user-infos
        margin 40px 0 80px 460px
        height 240px
        padding-left 150px
        background-repeat no-repeat
        background-position 0 center
        position relative
        .img
            display none
            position absolute
            left 0
            top 0
            width 100px
            height 240px
        .item
            line-height 40px
            font-size 14px
            color #000
            span
                padding-right 10px
    .user-infos-female
        .female-img
            display block
    .user-infos-male
        .male-img
            display block
    .mod
        width 950px
        margin 0 auto 80px
        .title2
            font-size 28px
            font-weight normal
            padding-bottom 10px
            border-bottom 1px solid #20A0FF
            color #20A0FF
        .title3
            color #6282D5
            border-bottom-color #6282D5
        .title4
            color #1CC4C1
            border-bottom-color #1CC4C1
        h3
            color #000
            text-align center
            margin 40px 0 0
            font-size 17px
            font-weight normal
    .mod2
        margin-bottom 70px