.welcome
  padding 40px 20px 0
  background-color #FFF
  height auto
  width 950px
  overflow-x hidden
  .mod1
    overflow hidden
    .info
      float left
      padding 30px 0 0 40px
      width 435px
      height 100px
      .img-con
        width 80px
        height 80px
        float left
        background url("../../../../../static/admin/icon_home_defaultavatar.svg") no-repeat center
        background-size 100%
      .img-con3
        background-image url("../../../../../static/admin/icon_newdoctor_defaultavatar.svg")
      .img-con2
        background none
      .img
        border-radius 50%
      .detail
        float left
        margin-left 40px
        .s1
          font-size 18px
          color #000
          margin-bottom 15px
          font-weight normal
        .s2
          font-size 14px
          color #999
          line-height 22px
  .mod
    margin-top 30px
    .title
      font-size 18px
      padding-left 10px
  .mod2
    .list
      width 960px
      padding-top 40px
      margin 0 auto
      overflow hidden
      position relative
      left -5px
      .item
        float left
        width 258px
        border 1px solid #C5E5FC
        padding 30px 0 30px 30px
        margin 0 15px
        cursor pointer
        overflow hidden
        background #FFF
        .icon
          float left
          width 40px
          height 40px
        .detail
          float left
          margin-left 30px
          font-size 14px
          color #000
          line-height 22px
          font-weight bold
          padding-top 8px
          span
            display inline-block
            width 100px
      .item1
        .icon
          background url("../../../../../static/admin/icon_home_patient.svg")
      .item2
        .icon
          background url("../../../../../static/welcome/icon_home_group.svg")
      .item:hover
        border-color #20A0FF
        box-shadow 0 2px 4px rgba(32,160,255,.2), 0 0 6px rgba(32,160,255,.1)
    .list2
      .item
        .detail
          padding-top 8px
      .item1
        .icon
          background url("../../../../../static/welcome/icon_home_abnormal_data.svg")
      .item2
        .icon
          background url("../../../../../static/welcome/icon-home_notread-dialogue.svg")
      .item3
        .icon
          background url("../../../../../static/welcome/icon_home_associated_application.svg")
    .list3
      .item
        box-sizing border-box
        padding 23px 0 0 30px
        width 290px
        height 100px
        .icon
          margin-top 5px
        .detail
          padding-top 0
          p
            margin-bottom 11px
            line-height 20px
            span
              display inline-block
              width 110px
  .mod3
    margin-top 30px
    .item
      line-height 60px
      margin 0 20px
      padding-left 45px
      background url("../../../../../static/admin/icon_home_new.svg") no-repeat 0 center
      font-size 14px
      border-bottom 1px solid #EBE9E9
      overflow hidden
      .time
        float right
        color #999