.login-rule-form
    position relative
    .el-form-item
        margin-bottom 30px !important
    .el-form-item__label:before
        content "" !important
    .el-input__inner
        padding 0 10px
        font-size 12px
    .el-form-item__label
        text-align left
        width 200px
    .el-checkbox__label
        font-size 12px
    .login-btn
        width 200px
        margin-top 30px
    .form-error-tips
        position absolute
        left 0
        top 158px
        font-size 12px
        color #ff4949

