.admin-message
    .message-detail-dialog
        .el-dialog__body
            padding 0 20px 20px
        .el-dialog--tiny
            width 520px
            border-radius 10px
        .el-dialog__header
            padding 15px 0
            margin 0 20px
            border-bottom 1px solid #EBE9E9
            .el-dialog__title
                font-weight normal
                color #000
                font-size 17px
            .el-dialog__close
                font-size 14px
        .dialog-footer2
            text-align center
        .list
            padding-bottom 30px
            margin-bottom 30px
            border-bottom 1px solid #EBE9E9
            line-height 20px
            font-size 13px
            font-weight normal
            .item
                margin-top 30px
                overflow hidden
                color #000
                .label
                    float left
                    width 130px
                    text-align right
                .detail
                    float left
                    width 290px
                    margin-left 15px