.admin-list
    .search
        text-align right
        .date-input,.search-select
            margin-right 30px
            vertical-align top
        .date-input
            width 240px
        .search-select
            width 200px
    .search-btn
        background-image url("../../../../../../static/customer/icon-search.svg")
