.doctor-message-list
  div.el-tabs__header
    border-bottom 0
    div.el-tabs__active-bar
      top 0
      bottom auto
    div.el-tabs__item
      font-size 18px
      height 50px
      line-height 50px
      padding 0
      text-align center
      border-bottom 1px solid #E7E7E7
      border-top 1px solid #E7E7E7
      background-color #f8f8f8
      color #000000
      &.is-active
        border-bottom 0
        background-color transparent
        color #20a0ff
      .el-badge__content
        &.is-fixed
          top 18px
          &.is-dot
            right 0


  .message-detail-dialog
    .el-dialog__body
      padding 0 20px 20px
    .el-dialog--tiny
      width 520px
      border-radius 10px
    .el-dialog__header
      padding 15px 0
      margin 0 20px
      border-bottom 1px solid #EBE9E9
      .el-dialog__title
        font-weight normal
        color #000
        font-size 17px
      .el-dialog__close
        font-size 14px
    .dialog-footer2
      text-align center
    .list
      padding-bottom 30px
      margin-bottom 30px
      border-bottom 1px solid #EBE9E9
      line-height 20px
      font-size 13px
      font-weight normal
      .item
        margin-top 30px
        overflow hidden
        color #000
        .label
          float left
          width 130px
          text-align right
        .detail
          float left
          width 290px
          margin-left 15px

